In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
database_type = "/training"

In [4]:
interpolatedData1 = pd.read_csv('../eICU' + database_type + '/interpolatedData1.csv')
interpolatedData2 = pd.read_csv('../eICU' + database_type + '/interpolatedData2.csv')
interpolatedData3 = pd.read_csv('../eICU' + database_type + '/interpolatedData3.csv')
interpolatedData4 = pd.read_csv('../eICU' + database_type + '/interpolatedData4.csv')
interpolatedData5 = pd.read_csv('../eICU' + database_type + '/interpolatedData5.csv')

In [5]:
%%time

interpolatedData = pd.concat([interpolatedData1, interpolatedData2, interpolatedData3, interpolatedData4, interpolatedData5])

CPU times: user 1.18 s, sys: 696 ms, total: 1.88 s
Wall time: 1.88 s

In [6]:
interpolatedData['diagnosis'] = interpolatedData['diagnosis'].fillna(0)
sepsisOnly = interpolatedData[interpolatedData['diagnosis'] == 1]
sepsisOnly

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
389,141227,18.0,NaN,103.000000,40.000000,158.000000,1.502128,65.560073,4.300000,2.433090,1.0
1500,141288,19.0,NaN,100.333333,30.000000,114.000000,0.943333,7.184848,3.136364,6.006006,1.0
1581,141288,415.0,NaN,102.000000,23.666667,107.000000,0.835333,11.799394,2.105455,6.006006,1.0
1615,141288,575.0,NaN,86.000000,18.333333,120.666667,0.790000,13.736364,1.672727,6.006006,1.0
1682,141288,899.0,NaN,81.000000,17.000000,123.666667,0.720888,16.260947,1.100000,6.006006,1.0
...,...,...,...,...,...,...,...,...,...,...,...
31857162,3353251,5521.0,37.7,84.000000,17.000000,125.666667,3.292857,11.952381,NaN,0.859729,1.0
31857324,3353251,6303.0,37.7,94.666667,20.000000,151.333333,3.325918,12.558503,NaN,1.884532,1.0
31857923,3353251,9169.0,37.7,93.000000,25.000000,150.000000,3.622759,14.797931,NaN,2.724578,1.0
31858378,3353251,11304.0,37.7,75.000000,17.000000,130.000000,3.972642,17.783946,NaN,2.521008,1.0
31858605,3353251,12374.0,37.7,82.000000,24.000000,63.000000,3.942274,18.543144,NaN,3.462237,1.0

In [7]:
cols = ['temperature', 'heartrate', 'respiration', 'systemicsystolic', 'creatinine', 'wbcx1000', 'lactate', 'urineoutputbyweight']

In [8]:
sepsisOnly['temperature'] = sepsisOnly['temperature'].fillna(sepsisOnly['temperature'].mean())
sepsisOnly['heartrate'] = sepsisOnly['heartrate'].fillna(sepsisOnly['heartrate'].mean())
sepsisOnly['respiration'] = sepsisOnly['respiration'].fillna(sepsisOnly['respiration'].mean())
sepsisOnly['systemicsystolic'] = sepsisOnly['systemicsystolic'].fillna(sepsisOnly['systemicsystolic'].mean())
sepsisOnly['creatinine'] = sepsisOnly['creatinine'].fillna(sepsisOnly['creatinine'].mean())
sepsisOnly['wbcx1000'] = sepsisOnly['wbcx1000'].fillna(sepsisOnly['wbcx1000'].mean())
sepsisOnly['lactate'] = sepsisOnly['lactate'].fillna(sepsisOnly['lactate'].mean())
sepsisOnly['urineoutputbyweight'] = sepsisOnly['urineoutputbyweight'].fillna(sepsisOnly['urineoutputbyweight'].mean())

sepsisOnly[cols].isnull().sum().sum()

0

In [9]:
notSepsis = interpolatedData[interpolatedData['diagnosis'] == 0]
notSepsis

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141203,-1580.0,NaN,112.0,25.0,NaN,0.330000,10.200000,3.5,NaN,0.0
1,141203,-473.0,NaN,112.0,25.0,NaN,0.390000,8.500000,3.5,NaN,0.0
2,141203,1.0,NaN,112.0,25.0,NaN,0.560000,12.700000,3.5,NaN,0.0
3,141203,5.0,NaN,112.0,25.0,NaN,0.560682,12.748182,3.5,NaN,0.0
4,141203,10.0,NaN,114.0,25.0,NaN,0.561364,12.796364,3.5,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
31859711,3353263,899.0,NaN,87.0,13.0,NaN,1.060000,6.400000,NaN,NaN,0.0
31859712,3353263,904.0,NaN,85.0,13.0,NaN,1.060000,6.400000,NaN,NaN,0.0
31859713,3353263,909.0,NaN,91.0,23.0,NaN,1.060000,6.400000,NaN,NaN,0.0
31859714,3353263,914.0,NaN,89.0,19.0,NaN,1.060000,6.400000,NaN,NaN,0.0
31859715,3353263,919.0,NaN,87.0,16.0,NaN,1.060000,6.400000,NaN,NaN,0.0

In [10]:
notSepsis['temperature'] = notSepsis['temperature'].fillna(notSepsis['temperature'].mean())
notSepsis['heartrate'] = notSepsis['heartrate'].fillna(notSepsis['heartrate'].mean())
notSepsis['respiration'] = notSepsis['respiration'].fillna(notSepsis['respiration'].mean())
notSepsis['systemicsystolic'] = notSepsis['systemicsystolic'].fillna(notSepsis['systemicsystolic'].mean())
notSepsis['creatinine'] = notSepsis['creatinine'].fillna(notSepsis['creatinine'].mean())
notSepsis['wbcx1000'] = notSepsis['wbcx1000'].fillna(notSepsis['wbcx1000'].mean())
notSepsis['lactate'] = notSepsis['lactate'].fillna(notSepsis['lactate'].mean())
notSepsis['urineoutputbyweight'] = notSepsis['urineoutputbyweight'].fillna(notSepsis['urineoutputbyweight'].mean())

notSepsis[cols].isnull().sum().sum()

0

In [12]:
finalData = pd.concat([notSepsis, sepsisOnly])

In [13]:
finalData = finalData.sort_values(['patientunitstayid','observationoffset'])
finalData

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141203,-1580.0,38.120416,112.0,25.0,121.156711,0.330000,10.200000,3.50000,6.958628,0.0
1,141203,-473.0,38.120416,112.0,25.0,121.156711,0.390000,8.500000,3.50000,6.958628,0.0
2,141203,1.0,38.120416,112.0,25.0,121.156711,0.560000,12.700000,3.50000,6.958628,0.0
3,141203,5.0,38.120416,112.0,25.0,121.156711,0.560682,12.748182,3.50000,6.958628,0.0
4,141203,10.0,38.120416,114.0,25.0,121.156711,0.561364,12.796364,3.50000,6.958628,0.0
...,...,...,...,...,...,...,...,...,...,...,...
31859711,3353263,899.0,38.120416,87.0,13.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0
31859712,3353263,904.0,38.120416,85.0,13.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0
31859713,3353263,909.0,38.120416,91.0,23.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0
31859714,3353263,914.0,38.120416,89.0,19.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0
31859715,3353263,919.0,38.120416,87.0,16.0,121.156711,1.060000,6.400000,2.25813,6.958628,0.0

In [14]:
path = "../eICU/training/"
finalData.to_csv(path + "cleanedDataset.csv", sep=',', index=False, encoding='utf-8')