In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../eICU/training/finalMerge.csv')
df

,patientunitstayid,observationoffset,temperature,heartrate,respiration,systemicsystolic,creatinine,wbcx1000,lactate,urineoutputbyweight,diagnosis
0,141227,1162.0,NaN,100.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
1,141227,1062.0,NaN,100.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
2,141227,1192.0,NaN,106.0,35.0,130.0,NaN,NaN,NaN,NaN,NaN
3,141227,522.0,NaN,110.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN
4,141227,1197.0,NaN,106.0,36.0,124.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
41945377,3353251,6303.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
41945378,3353251,6303.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
41945379,3353251,4080.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
41945380,3353251,4080.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
41945381,3353254,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0