In [2]:
import pandas as pd

In [3]:
database_type = "/full"

In [4]:
columns = ['patientunitstayid', 'diagnosis']
diagnosis = pd.read_csv('../../eICU' + '/training' + '/diagnosis.csv', usecols=columns)
diagnosis

        patientunitstayid  diagnosis
0                  141168          0
1                  141168          0
2                  141203          0
3                  141203          0
4                  141227          1
5                  141229          0
6                  141229          0
7                  141266          0
8                  141284          0
9                  141284          0
10                 141288          0
11                 141288          0
12                 141288          0
13                 141288          1
14                 141288          0
15                 141288          1
16                 141288          1
17                 141288          1
18                 141289          0
19                 141289          1
20                 141296          0
21                 141297          0
22                 141297          1
23                 141304          0
24                 141304          0
25                 141304          1
26                 141304          1
27                 141313          0
28                 141314          0
29                 141314          0
...                   ...        ...
580405            3353226          0
580406            3353226          0
580407            3353226          0
580408            3353226          0
580409            3353226          0
580410            3353226          0
580411            3353235          0
580412            3353237          0
580413            3353251          0
580414            3353251          0
580415            3353251          1
580416            3353251          0
580417            3353251          0
580418            3353251          1
580419            3353251          0
580420            3353251          0
580421            3353251          1
580422            3353251          0
580423            3353251          0
580424            3353251          0
580425            3353251          0
580426            3353251          0
580427            3353251          0
580428            3353251          1
580429            3353251          1
580430            3353251          1
580431            3353251          1
580432            3353251          1
580433            3353254          0
580434            3353263          0

[580435 rows x 2 columns]

In [5]:
df_sepsis = diagnosis[diagnosis.diagnosis==1]
df_sepsis = pd.DataFrame(df_sepsis.patientunitstayid.unique())

In [6]:
df_not_sepsis = diagnosis[diagnosis.diagnosis==0]
df_not_sepsis = pd.DataFrame(df_not_sepsis.patientunitstayid.unique())
df_not_sepsis = df_not_sepsis.sample(n=len(df_sepsis))

In [7]:
df_sepsis = df_sepsis.append(df_not_sepsis)
df_sepsis.rename(columns={0: 'patientunitstayid'}, inplace=True)
df_sepsis

        patientunitstayid
0                  141227
1                  141288
2                  141289
3                  141297
4                  141304
5                  141392
6                  141432
7                  141462
8                  141470
9                  141751
10                 141920
11                 141944
12                 141945
13                 142209
14                 142388
15                 142440
16                 143157
17                 143344
18                 143466
19                 143469
20                 143578
21                 143642
22                 143736
23                 143897
24                 143920
25                 143993
26                 143994
27                 144034
28                 144182
29                 144183
...                   ...
104444            2138815
101884            2053022
36482              882146
110498            2323874
169925            3341598
2365               175383
13380              377932
97064             1833863
74995             1567596
73853             1559582
101225            2031491
99789             1980617
169012            3335844
147835            3022237
120587            2596978
87695             1728017
143775            2968776
56083             1126267
56720             1132290
132254            2793671
3895               197830
68420             1463113
120771            2599935
138940            2888080
55141             1116973
167232            3243866
54768             1113604
97054             1833761
39303              949781
40555              963617

[46958 rows x 1 columns]

In [8]:
path = "../../eICU/training/"
df_sepsis.to_csv(path + "patientIds.csv", sep=',', index=False, encoding='utf-8')